#home {
    background-image: url(https://i.imgur.com/RaBT24K.jpg)
}

body {
    color: white;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: black;
    background-color: black; 
}

input, select, textarea{
    color: white;
    font-weight: bold;
}
/* .article {
background-image: url ("https://i.imgur.com/wjjFz0q.jpg")
} */